<h1><%= s_t User, :edit_profile, :action %></h1>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password %>
  <% end %>
  <%= f.buttons %>
<% end %> 
<p><%= link_to s_t(User, :cancel_account, :action), registration_path(resource_name), :method => :delete, :confirm => s_t(User,:cancel_user_confirmation) %>.</p>
