<h1><%= s_t(User, :sign_up,:action) %></h1>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %> 
  <%= f.buttons %>
<% end %>

<%= render :partial => "devise/shared/links" %>

