<%= semantic_form_for(@regulation, :html => {:multipart => true}) do |f| %>
  <%= f.inputs :class => "half" do %>
    <% label=image_tag( file_url(@regulation, :file, :icon) , :align => "top")+" "+s_t(Regulation,:file) if @regulation.file? %>
    <%= f.input :file, :as => :file, :label => label %>
    <%= f.hidden_field :file_cache %>

    <% if @regulation.file? %>
      <%= f.input :regulation_type, :group_by => :type,:input_html => { :class => "autocomplete", "data-placeholder" => s_t(Type, :select, :action)}, :allow_blank => true %>
      <%= f.input :number, :input_html => { :size => 5 } %>
      <%= f.input :date, :start_year => 1980 %>
      <%= f.input :description, :input_html => { :class => "elastic", :rows => 2 } %>
      <%= render :partial => "attachments/attachments", :locals => { :f =>  f, :legend => s_t(Attachment,:collection) }  %>
      <%= f.input :categories, :as => :check_boxes %>
      <%= f.input :confirmation %>
    <% end %>
  <% end %>
  <%= image_tag( file_url(@regulation, :file, :cover), :class => "half" ) if @regulation.file? %>
  <div class="floatKiller"></div>
  <%= f.buttons %>

  <% if @regulation.file? %>
    <%= f.inputs do %>
      <%= f.input :abstract, :input_html => { :class => "elastic", :rows => 2 } %>
    <% end %>
    <%= f.buttons %>
  <% end %>
<% end %>
