<% if can? :mass_create, Regulation %> 
<div id="regulation-uploader">    
</div>
<script>        
  function createUploader(){            
    var uploader = new qq.FileUploader({
      element: document.getElementById('regulation-uploader'),
      action: <%= mass_create_regulations_path.to_json.html_safe %>,
      debug: false,
      csrf: true,
      maxConnections: 1
    });           
  }
  window.onload = createUploader;     
</script> 
<% end %>
