<tr class="<%= "unconfirmed" unless regulation.confirmation? %>">
  <td class="nowrap">
    <%= regulation.title %><br/>
    <%= I18n.l regulation.date rescue nil %> 
    <br/>
    (<%= s_t Regulation, :updated_at %>: <%= I18n.l regulation.updated_at.to_date rescue nil %>)<br/>
  </td>
  <td>
    <div class="text description"> <%= link_to regulation.description_to_show, regulation_path(regulation) %> </div>
    <div class="text abstract" style="display:none"> <%= regulation.abstract %> </div>
  </td>
  <td>
    <%= regulation.categories.map{|cat| cat.name}.to_sentence  %>
  </td>
  <td class="nowrap"> <%= rud_links(regulation) %><br/>
    <%= regulation.attachments.size+1 %> <%= image_tag "/images/crud/attachment.16.png", :align => "top" %> 
  </td>
  </td>
</tr>
