<h1><%= s_t Regulation, :index, :actions %></h1>
<table class="index">
  <tr>
    <th colspan="999">
      <div class="search">
        <%= form_tag nil, :method => "get", :remote => false do %>
          <ol>
            <li>
            <label>
              <%=s_t(Category, :collection) %>
              <%= select_tag :search_category, options_for_select([nil]+[["Sin categorías","-"]]+Category.all.map{|i| [i.name,i.id]}, params[:search_category]), :class => "autocomplete", "data-placeholder" => s_t(Category, :select, :actions), :style => "min-width:180px" %>
            </label>
            </li>
            <li> <label><%=s_t(Word, :collection) %></label><%= text_field_tag  :search, params[:search], :class => "search", :size => 50 %></li>
            <li> <%= submit_tag s_t(Regulation, :search, :action), :id => "commit" %></li>
          </ol>
          <ol class="order">
            <li>
            <label><%=s_t(Regulation, :order_by) %></label>
            <%= radio_button_tag :order, :updated_at, (params[:order] == "updated_at") %><%= s_t(Regulation, :updated_at) %>
            <%= radio_button_tag :order, :date, (params[:order] != "updated_at") %><%= s_t(Regulation, :date) %>
            </li>
          </ol>
          <ol class="advanced">
            <li>
            <label><%=s_t(Regulation, :type)%></label>
            <%= select_tag  :search_type, options_for_select([nil]+Type.all.map{|i| [i.name,i.id]}, params[:search_type]), :class => "autocomplete", "data-placeholder" => s_t(Type, :select, :actions), :style => "min-width:160px" %>
            </li>

            <li><label><%=s_t(Regulation, :issuer)%></label><%= select_tag  :search_issuer, options_for_select([nil]+Issuer.all.map{|i| [i.display_name,i.id]}, params[:search_issuer]), :class => "autocomplete", "data-placeholder" => s_t(Issuer, :select, :actions), :style => "min-width:160px" %></li>
            <li><label><%=s_t(Regulation, :number)%></label><%= text_field_tag  :search_number, params[:search_number], :class => "numeric", :size => 3 %></li>
            <li><label><%=s_t(Regulation, :year)%></label>
            <%= select_tag  :search_year, options_for_select([nil]+Regulation.years_range.reverse.map{|i| [i,i]}, params[:search_year]), :class => "autocomplete", :style => "min-width:100px", "data-placeholder" => s_t(Regulation, :year) %>
            </li>
          </ol>
        <%end %>
      </div>
      <% if can? :create, Regulation %><label> <%= link_to s_t(Regulation, :missing), :missing_regulations %></label><% end %>
    </th>
  </tr>
  <th colspan="999">
    <div style="float: left;"> <%= "#{@regulations_count} #{s_t(Regulation, :collection)}" %> </div>
    <%= will_paginate @regulations, :previous_label => s_t(Regulation,:previous), :next_label => s_t(Regulation,:next), :inner_window => 2, :outer_window => 1, :separaton => "..."  %></th>
  <% @regulations.each do |regulation| %>
    <%= render :partial => "regulation", :object => regulation %>
  <% end %>
  <tr>
  </tr>
  <tr>
    <th colspan="999" class="pagination">
      <%= create_link(Regulation) %> 
      <%= render :partial => "mass_uploader" if can? :create, Regulation %>
    </th>
  </tr>
</table>
