<h2>
  <%= rud_links @regulation %>
  <%= @regulation.title %> - <%= I18n.l @regulation.date rescue nil %>
</h2>
<div>
  <div class="text"> <%= @regulation.description_to_show %> </div>
</div>
<div class="floatKiller"></div>
  <div class="attachments">
    <h2>
      <%= image_tag("crud/attachment.16.png", :size => "16x16") %> <%= s_t(Regulation, :files) %>
    </h2>
  <div class="attachment main">
        <div>
          <%= link_to image_tag( file_url(@regulation, :file, :thumb), :size => "90x120"), file_url(@regulation,:file), :target => "_blank" rescue nil %>
        </div>
          <%= link_to("<span>#{s_t(@regulation,:download,:action)}</span>".html_safe, file_url(@regulation, :file, nil, :attachment), :class => "download" )  %>
          <%= @regulation.type.try(:name) %>
      </div>
    <% @regulation.attachments.each do |a| %>
      <div class="attachment">
        <div>
        <%= link_to image_tag( file_url(a, :file, :thumb), :size => "90x120"), file_url(a,:file), :target => "_blank" %>
        </div>
          <%= link_to("<span>#{s_t(a,:download,:action)}</span>".html_safe, file_url(a, :file, nil, :attachment), :class => "download" )  %>
          <%= a.name %>
      </div>
    <% end %>
  </div>
  <div class="floatKiller"></div>
