<!DOCTYPE html>
<html>
  <head>
    <title>Digesto <%= Sysconfig.current.company %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
		<%= flash_div %>
    <div class="header">
      <div class="logo"> <%= image_tag Sysconfig.current.logo_url if Sysconfig.current.logo? %> </div>
      <div class="userinfo"> <%= render :partial => "users/userinfo" %> </div>
      <div class="menu"> <%= render_navigation( :level => 1 ) %> </div>
    </div>
    <div class="body">
      <div class="header"></div>
      <div class="body">
        <div class=submenu> <%= render_navigation( :level => 2 ) %> </div>
        <div class="content">
          <%= yield -%>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <div class="footer">
      <div>
        <%= Sysconfig.current.footer.to_s.html_safe %>
      </div>
    </div>
  </body>
</html>
