<h1><%= s_t Institution, :index, :actions %></h1>
<table class="index">
  <tr>
    <th><%= s_t(Institution, :name) %></th>
    <th><%= s_t(Issuer, :collection) %></th>
    <th> </th>
  </tr>
  <% @institutions.each do |institution| %>
    <tr>
      <td><%= institution.name %></td>
      <td>
        <% institution.issuers.each do |i| %>
          <%= i.name %><br/>
        <% end %>
      </td>
      <td class="nowrap"><%= rud_links(institution) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(Institution) %> </th>
  </tr>
</table>
