<h1><%= s_t Category, :index, :actions %></h1>
<table class="index">
  <tr>
    <th><%= s_t(Category, :name) %></th>
    <th><%= s_t(Category, :description) %></th>
    <th> </th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td class="nowrap"><%= category.name %></td>
      <td><%= category.description %></td>
      <td class="nowrap"><%= rud_links(category) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(Category) %> </th>
  </tr>
</table>
