<li class="fields">
<table>
  <tr>
    <td>
<ol>
<%= f.input :regex %>
<%= f.input :as_string %>
</ol>
</td>
<td>

  <%= link_to_remove_fields "<span>#{s_t(Expression, :destroy, :action)}</span>".html_safe, f %>
</td>
</tr>
</table>
</li>
