<li>
<fieldset class="inputs nested">
  <%	field_name = :expressions if field_name.nil? %>
  <legend><%= defined?(legend) && legend || s_t(Expression, :collection) %></legend>
  <ol>
    <% f.fields_for field_name do |expression| %>
      <%= render :partial => "expressions/expression_field", :locals => { :f => expression, :field_name => field_name } %>
    <% end %>
    <li><span class=button>
      <%= link_to_add_fields "<span>#{s_t(Expression, :new, :action)}</span>".html_safe, f, :field_name => field_name, :partial_model => Expression %>
    </span></li>
  </ol>
</fieldset>
</li>
