<%= semantic_form_for(@expression) do |f| %>
  <%= f.inputs do %>
  <%= f.input :regex %>
  <%= f.input :as_string %>
  <%= f.input :regexable_type, :as => :radio, :collection => Expression::TYPES %>
  <% end %>
	<%= f.buttons %>
<% end %>
