<h1><%= s_t Expression, :index, :actions %></h1>
<table class="index">
  <tr>
    <th><%= s_t(Expression) %></th>
    <th><%= s_t(Expression, :type) %></th>
    <th> </th>
  </tr>
  <% @expressions.each do |expression| %>
    <tr>
      <td><%= expression.computed_regex %></td>
      <td class="nowrap"><%= s_t(Expression, expression.regexable_type) %></td>
      <td class="nowrap"><%= rud_links(expression) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(Expression) %> </th>
  </tr>
</table>
