<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @expression.name %>
</p>

<p>
  <b>Issuer expression:</b>
  <%= @expression.issuer_expression_id %>
</p>


<%= link_to 'Edit', edit_expression_path(@expression) %> |
<%= link_to 'Back', expressions_path %>
