<h1><%= s_t(User,:sign_in,:action) %></h1>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable?  %>
  <% end %> 
  <%= f.buttons do %>
    <%= f.commit_button :button_html => { :value => s_t(User,:sign_in,:action) } %>
  <% end %> 
<% end %>

<%= render :partial => "devise/shared/links" %>
