<p>Alguien ha registrado una cuenta en el Digesto usando la dirección de correo: <%= @resource.email %>.</p> 
<p>Si fue Ud. confirmela usando el enlace de abajo, si no, simplemente ignore este mensaje.</p>
<p><%= link_to s_t(User,:confirm_registration,:action), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
