
<p>Alguien ha solicitado un enlace para cambiar la contraseña del usuario <%= @resource.email %>, puede hacerlo con el enlace de abajo.</p>

<p><%= link_to s_t(User, :change_password, :action), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si ud. no ha solicitado el cambio, ignore este mensaje.</p>
<p>Su contraseña no será modificada si no ingresa al enlace indicado y crea una nueva contraseña.</p>
