<p><%= @resource.email %>!</p>
<p>Su cuenta ha sido bloqueada debido a un exceso de intentos fallidos.</p>
<p>Ingrese al enlace indicado abajo para desbloquear su cuenta:</p>
<p><%= link_to s_t(User, :unlock_account, :action), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
