
@mixin crud($type,$text_display)
  min-width: 16px
  height: 16px
  display: inline-block
  background: url('/images/crud/'+$type+'.16.png') no-repeat left center
  text-decoration: none
  &:hover
    background-color: transparent
  span
    display: $text_display
    padding-left: 18px

a
  &.edit
    @include crud(edit,none)
  &.show
    @include crud(show,none)
  &.destroy
    @include crud(destroy,none)
  &.new
    @include crud(add,inline)
  &.download
    @include crud(download,none)
  &.back
    @include crud(back,none)
  &.attachment
    @include crud(attachment,none)
  
td.rud
  text-align: right
