div.flash
  display:block
  width: 100%
  height: 100%
  position: fixed
  left: 0
  top: 0
  z-index: 999999
  background: rgba(0,0,0,0.6)
  table
    margin: auto
    height: 100%
    width: 40%
    div.message
      text-align: center
      border-style: solid
      border-width: 2px
      border-radius: 1em
      border-color: #000
      padding: 1em
      box-shadow: #000 1em 1em 4em
      position: relative
      top: -1em
      left: -1em
      div.title
        font-size: 250%
        padding: 1em 1em 0em 1em
      div.content
        font-size: 200%
        padding: 1em
        line-height: 1.3em
    div.notice
      background: #0f0
    div.alert
      background: #ff0
    div.error
      background: #f00
      

