$normal: #1B1BB3
$black: #000
$white: #fff
$lightest: ($normal/8+#ffffff/8*7)
$light: ($normal/2+#ffffff/2)
$dark: $normal/2
$darkest: $normal/8

$header_height: 6em
$footer_height: 4em
$max-width: 1124px 

a
  text-decoration: none
  color: $black

html,body
  margin: 0 auto 0 auto
  padding: 0
  max-width: $max-width
  display: block
  height: 100%
  font-family: Tahoma, Arial, sans-serif
  font-size: 95%

html
  background-color: White

body
  background-color: $lightest
  color: $darkest

h1
  margin: 0 0 0.5em 0

div.header 
  height: $header_height
  background-color: $white
  padding: 0
  margin: 0
  position: relative
  div.userinfo
    position: absolute
    right: 1em
    top: 1em
    color: $black
    font-weight: bold

div.footer
  height: $footer_height
  background-color: $light
  padding: 0
  margin: 0
  position: relative
  div 
    padding: 1em
    display: block
    width: 100%
    text-align: center

div.body
  min-height: 100%
  margin-top: -$header_height
  margin-bottom: -$footer_height
  color: $black

  div.body
    @extend body
    height: auto
    padding: 0 1em 1em 1em

    div.attachments
      text-indent: 0

      div.attachment
        text-indent: 0
        padding: 1em
        display: block
        float: left
        border-style: solid
        border-radius: 3px
        border-width: 1px
        margin: 0.5em
        background-color: $lightest


      div.main
        background-color: ($light/2+$lightest/2)

    h1
      display: block
      background-color: $normal
      padding: 0.5em
      font-size: 100%
      text-align: center
      color: $lightest

    table
      border-collapse: collapse
      margin: auto
      padding: 0
      &.index
        width: 100%
      tbody
        width: 100%
      tr
        &:hover
          background: $white
        th
          background: $light
          padding: 0.3em
          margin: 0
          color: $white
          .pagination
            background: $normal
            padding: 1em
            text-align: right
            font-size: 110%
            em
              padding: 0.5em
              background: $lightest
              color: $normal
              border-radius: 5px
            a
              padding: 0.5em
              color: $white


              
        td
          vertical-align: top
          border-style: solid
          border-width: 1px 0 1px 0
          border-color: $black
          padding: 0.1em 0.4em 0.1em 0.4em
        &.unconfirmed
          td
            background: #f88
    img.thumb
      display: block
      float: right
      padding-left: 1em



  div.header, div.footer
    background-color: transparent
    color: transparent
    border-style: none
    z-index: -100

div.menu
  display: block
  position: absolute
  right: 1em
  bottom: 0.5em
  ul
    margin: 0
    li
      margin: 0 1px -2px 1px
      display: block
      float: left
      a
        background-color: $normal
        color: White
        padding: 0.5em 0.5em 0.5em 0.5em 
        border-style: solid
        border-width: 2px 2px 0 2px
        border-radius: 2px 2px 0 0 
        text-decoration: none
        &:active, &:visited
          color: $lightest
      .selected
        background-color: $lightest
        color: $darkest
        &:active, &:visited
          color: $darkest

div.submenu
  display: inline-block
  float:none
  padding: 0
  ul
    display: inline-block
    padding: 0.5em 0 0 0 
    li
      margin: 0 0.5em 0  0 
      display: block
      float: left
      a
        background-color: $light
        color: White
        padding: 0.3em 0.3em 0.3em 0.3em 
        border-style: solid
        border-width: 2px 
        border-radius: 2px 
        text-decoration: none
        &:active, &:visited
          color: $lightest
      .selected
        background-color: $white
        color: $darkest
        &:active, &:visited
          color: $darkest



.right
  text-align: right

.left
  text-align: left

.center
  text-align: center

td.boolean
  text-align: center
td.numeric
  text-align: right

.floatKiller
  clear: both
  width: 1px
  height: 1px
  font-size: 1px

.text
  white-space: pre-line
  text-align: justify

.nowrap
  white-space: nowrap

input.search
  padding-right: 18px
  background: url('/images/crud/show.16.png') no-repeat right center
  background-color: $white

input.numeric
  text-align: right

div.search
  width: 100%
  float: right
  color: $black
  padding: 0
  a
    color: $black
  ol
    list-style:none
    padding: 0
    margin: 0
    float: right
    clear: both
    &.advanced
      float: left
    &.order
      float: left
      clear: none
    li
      display: block
      float: left
      padding: 0.5em
      label
        padding-right: 0.3em

div.missing_link
  float: left

.half
  width: 49%
  padding: 0 1% 0 1% 
  float: left
