<%- list=[] -%>
<%- list << link_to(s_t(User,:sign_in,:actions), new_session_path(resource_name)) if controller_name != 'sessions' -%>
<%- list << link_to(s_t(User,:sign_up,:actions), new_registration_path(resource_name)) if devise_mapping.registerable? && controller_name != 'registrations' -%>
<%- list << link_to(s_t(User,:forgot_password?), new_password_path(resource_name)) if devise_mapping.recoverable? && controller_name != 'passwords' -%>
<%- list << link_to(s_t(User,:didnt_receive_confirmation?), new_confirmation_path(resource_name)) if devise_mapping.confirmable? && controller_name != 'confirmations' -%>
<%- list << link_to(s_t(User,:didnt_receive_unlock?), new_unlock_path(resource_name)) if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) -%>
<%- if devise_mapping.omniauthable? -%>
  <%- resource_class.omniauth_providers.each do |provider| -%>
    <%- list << link_to("Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)) -%>
  <%- end -%>
<%- end -%>
<ul>
  <%- list.each do |item| -%>
    <li><%= item %></li>
  <%- end -%>
</ul>
