<h1><%= s_t Sysconfig %></h1>
<%= semantic_form_for @sysconfig, :url => :update_config, :html => {:multipart => true}, :method => :post do |f| %>
  <%= f.inputs do %>
    <%= f.input :company %>

    <% if @sysconfig.logo? %>
      <li>
      <label></label>
      <%= image_tag @sysconfig.logo_url %>
      </li>
    <% end %>
    <%= f.input :logo, :as => :file %>
    <%= f.hidden_field :logo_cache %>


    <%= f.input :footer,:input_html => { :class => "elastic", :rows => 2 } %>
    <li><hr/></li>
    <%= f.input :default_sender, :as => :email %>
    <%= f.input :smtp_address %>
    <%= f.input :smtp_port %>
    <%= f.input :smtp_domain %>
    <li><hr/></li>
    <%= f.input :smtp_authentication, :as => :radio, :collection => Sysconfig::AUTH_TYPES %>
    <%= f.input :smtp_user_name %>
    <%= f.input :smtp_password %>
  <% end %>
  <%= f.buttons %>
<% end %>
