<h1><%= s_t(User, :resend_unlock_instructions, :action )%></h1>

<%= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.inputs :email %>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => { :value => s_t(User, :resend_unlock_instructions, :action ) } %>
  <% end %>
<% end %>

<%= render :partial => "devise/shared/links" %>
