<%= semantic_form_for(@type) do |f| %>
	<%= f.inputs do %>
		<%= f.input :name %>
		<%= f.input :abbreviation %>
    <%= f.input :issuers, :as => :check_boxes %>
    <%= render :partial => "expressions/expressions", :locals => { :f =>  f, :legend => s_t(Type, :number_detectors) }  %>
	<% end %>
	<%= f.buttons %>
<% end %>
