<h1><%= s_t Type, :detectors %></h1>
<table>
  <tr>
    <th><%= s_t(Type, :collection) %></th>
    <th><%= s_t(Type, :regexes) %></th>
    <th> </th>
  </tr>
  <% @types.each do |type| %>
    <tr>
      <td><%= type.name %></td>
      <td>
        <% type.expressions.each do |e| %>
          <%= e.computed_regex %><br/>
        <% end %>
      </td>
      <td><%= rud_links type %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(RegulationType) %> </th>
  </tr>
</table>
