<h1><%= s_t Type, :index, :actions %></h1>
<table class="index">
  <tr>
    <th colspan="2"><%= s_t(Type, :name) %></th>
    <th><%= s_t(Type, :issuers) %></th>
    <th><%= s_t(Type, :number_detectors) %></th>
    <th> </th>
  </tr>
  <% @types.each do |type| %>
    <tr>
      <td class="right">(<%= type.abbreviation %>)</td>
      <td><%= type.name %></td>
      <td>
        <% type.issuers.each do |i| %>
          <%= i.name %> <%= i.institution.name %><br/>
        <% end %>
      </td>
      <td>
        <%= type.expressions.each.map{|e| e.computed_regex}.join("<br/><br/>").html_safe %>
      </td>
      <td class="nowrap"><%= rud_links(type) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(Type) %> </th>
  </tr>
</table>
