<%= semantic_form_for(@regulation_type) do |f| %>
  <h2>
    <%= @regulation_type.display_name %> 
  </h2>
  <%= f.inputs do %>
    <%= render :partial => "expressions/expressions", :locals => { :f =>  f, :legend => s_t(RegulationType, :detections) }  %>
  <% end %>
  <%= f.buttons %>
<% end %>
