<h1><%= s_t RegulationType, :index, :actions %></h1>
<table class="index">
  <tr>
    <th><%= s_t(RegulationType, :collection) %></th>
    <th><%= s_t(RegulationType, :detections) %></th>
    <th> </th>
  </tr>
  <% @regulation_types.each do |regulation_type| %>
    <tr>
      <td><%= regulation_type.display_name %></td>
      <td>
        <%= regulation_type.expressions.each.map{|e| e.computed_regex}.join("<br/><br/>").html_safe %>
      </td>
      <td><%= rud_links regulation_type %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(RegulationType) %> </th>
  </tr>
</table>
