<%= semantic_form_for(@issuer) do |f| %>
	<%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :institution, :as => :radio %>
    <%= f.input :types, :as => :check_boxes  %>
	<% end %>
	<%= f.buttons %>
<% end %>
