<h1><%= s_t Issuer, :index, :actions %></h1>
<table class="index">
  <tr>
    <th colspan="2"><%= s_t(Issuer, :issuer) %></th>
    <th><%= s_t(Issuer, :institution) %></th>
    <th><%= s_t(Issuer, :type) %></th>
    <th> </th>
  </tr>
  <% @issuers.each do |issuer| %>
    <tr>
      <td class=right>
        (<%= issuer.abbreviation %>)
      </td>
      <td>
        <%= issuer.name %>
      </td>
      <td><%= issuer.institution.try(:name) %></td>
      <td>
        <% issuer.types.each do |type| %>
          <%= type.name %><br/>
        <% end %>
      </td>
      <td class="nowrap"><%= rud_links(issuer) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(Issuer) %> </th>
  </tr>
</table>
