<li class="fields">
<table>
  <tr>
    <td>
      <ol>
        <% label=f.object.file? ? image_tag(file_url(f.object,:file,:icon), :align => "top")+" "+s_t(Attachment,:file) : nil %>
        
        <%= f.input :name %>
        <%= f.input :file, :as => :file, :label => label %>
        <%= f.hidden_field :file_cache %>
      </ol>
    </td>
    <td>
      <%= link_to_remove_fields "<span>#{s_t(Attachment, :destroy, :action)}</span>".html_safe, f %>
    </td>
  </tr>
</table>
</li>
