<li>
<fieldset class="inputs nested">
  <% field_name = :attachments if field_name.nil? %>
  <legend><%= defined?(legend) ? legend : s_t(Attachment, :collection) %></legend>
  <ol>
    <%= f.fields_for field_name do |attachment| %>
      <%= render :partial => "attachments/attachment_field", :locals => { :f => attachment, :field_name => field_name } %>
    <% end %>
    <li><span class=button>
      <%= link_to_add_fields "<span>#{s_t(Attachment, :new, :action)}</span>".html_safe, f, :field_name => field_name %>
    </span></li>
  </ol>
</fieldset>
</li>
