<%= semantic_form_for(@user) do |f| %>
	<%= f.inputs do %>
    <%= f.input :email, :input_html => {:disabled => true} %>
    <%= f.input :roles, :as => :check_boxes, :collection => Role.all.map{|r| [s_t(Role,r.name.to_sym),r.id]} %>
	<% end %>
	<%= f.buttons %>
<% end %>
