<h1><%= s_t User, :index, :actions %></h1>
<table class="index">
  <tr>
    <th><%= s_t(User, :user) %></th>
    <th><%= s_t(User, :confirmed) %></th>
    <th><%= s_t(Role, :collection) %></th>
    <th> </th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= "✓" if user.confirmed_at %>
      </td>
      <td>
        <%= user.roles.map{|r| s_t(Role,r.name.to_sym)}.to_sentence %>
      </td>
      <td class="nowrap"><%= rud_links(user) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="999"> <%= create_link(User) %> </th>
  </tr>
</table>
