a.edit {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  background: url("/images/crud/edit.16.png") no-repeat left center;
  text-decoration: none; }
  a.edit:hover {
    background-color: transparent; }
  a.edit span {
    display: none;
    padding-left: 18px; }
a.show {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  background: url("/images/crud/show.16.png") no-repeat left center;
  text-decoration: none; }
  a.show:hover {
    background-color: transparent; }
  a.show span {
    display: none;
    padding-left: 18px; }
a.destroy {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  background: url("/images/crud/destroy.16.png") no-repeat left center;
  text-decoration: none; }
  a.destroy:hover {
    background-color: transparent; }
  a.destroy span {
    display: none;
    padding-left: 18px; }
a.new {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  background: url("/images/crud/add.16.png") no-repeat left center;
  text-decoration: none; }
  a.new:hover {
    background-color: transparent; }
  a.new span {
    display: inline;
    padding-left: 18px; }
a.download {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  background: url("/images/crud/download.16.png") no-repeat left center;
  text-decoration: none; }
  a.download:hover {
    background-color: transparent; }
  a.download span {
    display: none;
    padding-left: 18px; }
a.back {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  background: url("/images/crud/back.16.png") no-repeat left center;
  text-decoration: none; }
  a.back:hover {
    background-color: transparent; }
  a.back span {
    display: none;
    padding-left: 18px; }
a.attachment {
  min-width: 16px;
  height: 16px;
  display: inline-block;
  background: url("/images/crud/attachment.16.png") no-repeat left center;
  text-decoration: none; }
  a.attachment:hover {
    background-color: transparent; }
  a.attachment span {
    display: none;
    padding-left: 18px; }

td.rud {
  text-align: right; }
