div.flash {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.6); }
  div.flash table {
    margin: auto;
    height: 100%;
    width: 40%; }
    div.flash table div.message {
      text-align: center;
      border-style: solid;
      border-width: 2px;
      border-radius: 1em;
      border-color: black;
      padding: 1em;
      box-shadow: black 1em 1em 4em;
      position: relative;
      top: -1em;
      left: -1em; }
      div.flash table div.message div.title {
        font-size: 250%;
        padding: 1em 1em 0em 1em; }
      div.flash table div.message div.content {
        font-size: 200%;
        padding: 1em;
        line-height: 1.3em; }
    div.flash table div.notice {
      background: lime; }
    div.flash table div.alert {
      background: yellow; }
    div.flash table div.error {
      background: red; }
