/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.boolean label { float:none; }
form.formtastic fieldset > ol > li { margin-bottom: 0.5em; }
form.formtastic fieldset > ol > li.select select.autocomplete { width:72%; }
form.formtastic fieldset  ol > li.file input { width:72%;}
form.formtastic fieldset > ol > li > fieldset.nested {
  border-style: solid;
  border-width: 1px;
  padding: 1em;
}
form.formtastic fieldset > ol > li > fieldset.nested > legend {
  position: relative;
  width: auto;
  padding: 0 0.5em 0 0.5em;
}
form.formtastic fieldset > ol > li > fieldset.nested  ol {
  width: 100%;
  padding: 0;
}
div.body div.body form.formtastic fieldset > ol > li > fieldset.nested ol > li > table td {
  border-width: 0;
  padding: 1em;
}

form.formtastic fieldset > ol > li > fieldset.nested  textarea { width: 72%; }

form.formtastic fieldset > ol > li.text > textarea { width:100%; } 
form.formtastic fieldset > ol > li > iframe { width:100%; height: 99%;} 
form.formtastic fieldset > ol > li  table { width:100%; } 
