a {
  text-decoration: none;
  color: black; }

html, body, div.body div.body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 1124px;
  display: block;
  height: 100%;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 95%; }

html {
  background-color: white; }

body, div.body div.body {
  background-color: #dcdcef;
  color: #030316; }

h1 {
  margin: 0 0 0.5em 0; }

div.header {
  height: 6em;
  background-color: white;
  padding: 0;
  margin: 0;
  position: relative; }
  div.header div.userinfo {
    position: absolute;
    right: 1em;
    top: 1em;
    color: black;
    font-weight: bold; }

div.footer {
  height: 4em;
  background-color: #8c8cd8;
  padding: 0;
  margin: 0;
  position: relative; }
  div.footer div {
    padding: 1em;
    display: block;
    width: 100%;
    text-align: center; }

div.body {
  min-height: 100%;
  margin-top: -6em;
  margin-bottom: -4em;
  color: black; }
  div.body div.body {
    height: auto;
    padding: 0 1em 1em 1em; }
    div.body div.body div.attachments {
      text-indent: 0; }
      div.body div.body div.attachments div.attachment {
        text-indent: 0;
        padding: 1em;
        display: block;
        float: left;
        border-style: solid;
        border-radius: 3px;
        border-width: 1px;
        margin: 0.5em;
        background-color: #dcdcef; }
      div.body div.body div.attachments div.main {
        background-color: #b4b4e3; }
    div.body div.body h1 {
      display: block;
      background-color: #1b1bb3;
      padding: 0.5em;
      font-size: 100%;
      text-align: center;
      color: #dcdcef; }
    div.body div.body table {
      border-collapse: collapse;
      margin: auto;
      padding: 0; }
      div.body div.body table.index {
        width: 100%; }
      div.body div.body table tbody {
        width: 100%; }
      div.body div.body table tr:hover {
        background: white; }
      div.body div.body table tr th {
        background: #8c8cd8;
        padding: 0.3em;
        margin: 0;
        color: white; }
        div.body div.body table tr th .pagination {
          background: #1b1bb3;
          padding: 1em;
          text-align: right;
          font-size: 110%; }
          div.body div.body table tr th .pagination em {
            padding: 0.5em;
            background: #dcdcef;
            color: #1b1bb3;
            border-radius: 5px; }
          div.body div.body table tr th .pagination a {
            padding: 0.5em;
            color: white; }
      div.body div.body table tr td {
        vertical-align: top;
        border-style: solid;
        border-width: 1px 0 1px 0;
        border-color: black;
        padding: 0.1em 0.4em 0.1em 0.4em; }
      div.body div.body table tr.unconfirmed td {
        background: #ff8888; }
    div.body div.body img.thumb {
      display: block;
      float: right;
      padding-left: 1em; }
  div.body div.header, div.body div.footer {
    background-color: transparent;
    color: transparent;
    border-style: none;
    z-index: -100; }

div.menu {
  display: block;
  position: absolute;
  right: 1em;
  bottom: 0.5em; }
  div.menu ul {
    margin: 0; }
    div.menu ul li {
      margin: 0 1px -2px 1px;
      display: block;
      float: left; }
      div.menu ul li a {
        background-color: #1b1bb3;
        color: white;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border-style: solid;
        border-width: 2px 2px 0 2px;
        border-radius: 2px 2px 0 0;
        text-decoration: none; }
        div.menu ul li a:active, div.menu ul li a:visited {
          color: #dcdcef; }
      div.menu ul li .selected {
        background-color: #dcdcef;
        color: #030316; }
        div.menu ul li .selected:active, div.menu ul li .selected:visited {
          color: #030316; }

div.submenu {
  display: inline-block;
  padding: 0; }
  div.submenu ul {
    display: inline-block;
    padding: 0.5em 0 0 0; }
    div.submenu ul li {
      margin: 0 0.5em 0 0;
      display: block;
      float: left; }
      div.submenu ul li a {
        background-color: #8c8cd8;
        color: white;
        padding: 0.3em 0.3em 0.3em 0.3em;
        border-style: solid;
        border-width: 2px;
        border-radius: 2px;
        text-decoration: none; }
        div.submenu ul li a:active, div.submenu ul li a:visited {
          color: #dcdcef; }
      div.submenu ul li .selected {
        background-color: white;
        color: #030316; }
        div.submenu ul li .selected:active, div.submenu ul li .selected:visited {
          color: #030316; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.center {
  text-align: center; }

td.boolean {
  text-align: center; }

td.numeric {
  text-align: right; }

.floatKiller {
  clear: both;
  width: 1px;
  height: 1px;
  font-size: 1px; }

.text {
  white-space: pre-line;
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

input.search {
  padding-right: 18px;
  background: url("/images/crud/show.16.png") no-repeat right center;
  background-color: white; }

input.numeric {
  text-align: right; }

div.search {
  width: 100%;
  float: right;
  color: black;
  padding: 0; }
  div.search a {
    color: black; }
  div.search ol {
    padding: 0;
    margin: 0;
    float: right;
    clear: both; }
    div.search ol.advanced {
      float: left; }
    div.search ol.order {
      float: left;
      clear: none; }
    div.search ol li {
      display: block;
      float: left;
      padding: 0.5em; }
      div.search ol li label {
        padding-right: 0.3em; }

div.missing_link {
  float: left; }

.half {
  width: 49%;
  padding: 0 1% 0 1%;
  float: left; }
