<h1><%= s_t Word, :index, :actions %></h1>
<table class="index">
  <tr>
    <th><%= s_t(Word) %></th>
    <th><%= s_t(Regulation, :collection) %></th>
  </tr>
  <% @words.each do |word| %>
    <tr>
      <td><%= word.word %></td>
      <td><%= word.regulations.size %></td>
    </tr>
  <% end %>
</table>
