<h1><%= s_t(User, :change_password, :action) %></h1>
<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.inputs :password, :password_confirmation %>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => { :value => s_t(User, :change_password, :action) } %>
  <% end %>
<% end %>

<%= render :partial => "devise/shared/links" %>
