<h1><%= s_t(User,:forgot_password?) %></h1>

<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.inputs :email %>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => { :value => s_t(User,:send_me_reset_instructions,:actions) } %>
  <% end %> 
<% end %> 

<%= render :partial => "devise/shared/links" %>
